.film-recommend-tag {
    width: 20rem;
    height: 16rem;
    border-radius: 0.5rem 0.5rem;
    overflow: hidden;
    transition: all 0.5s ease;

    .film-recommend-img {
        width: 20rem;
        border-radius: 0.5rem;
    }

    &:hover {
        opacity: 0.9;

        h2 {
            text-decoration: underline;
        }
    }
}

