.trailer-tag {
    width: 23rem;
    height: 20rem;
    cursor: pointer;
    margin: 0 1rem;

    .trailer-img{
        width: 22rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 1rem;
        transition: all 1s ease;
        margin-top :1rem;
    }

    .trailer-name{
        text-align: center;
        margin-top : 1rem;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: black;

        .trailer-img{
            transform:scale(1.1);
            transition: all .7s ease;
        }
    }
}