.search-field {
    width: 90%;
    position: relative;
    line-height: 3rem;

    border-color: #ffca9a;
    border-radius: 2rem;
    border-style: solid;
    border-width: 2px;
    outline: none;

    margin: 1rem 5%;
    padding: 0 2rem;

    font-size: 1.1rem;
    font-family: Source Sans Pro;
}

.search-btn {
    position: absolute;
    right: 10%;
    top : 1.5rem;

    background-color: transparent;
    border:none;

    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 1.2rem;

    cursor: pointer;
    transition: color .5s ease;

    &:hover {
        color : gray
    }
}
