.trending-home {
    .trending-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 30rem;

        h2 {
            font-size: 1.2rem;
        }
    }

    .trending-content{
        max-width: 560rem;
        min-width: 50rem;
        height: 25rem;

        overflow-x: scroll;
        overflow-y: hidden;
        gap: 2rem;

        display: grid;
        grid-template-columns: repeat(20,1fr);
    }
}
