@mixin flex($justify, $aligns) {
    display: flex;
    justify-content: $justify;
    align-items: $aligns;
}

.slide {
    width:40%;
    border-radius: 1.2rem;

    margin: 2rem 0;
    height: 1.5rem;
    border:2px solid black;

    @include flex(space-between, center);

    .slide-option {
        width: 50%;
        border-radius: 1rem;
        height: 1.5rem;

        font-size: 1rem;

        @include flex(center, center);
        transition: all .5s ease;
        cursor: pointer;
    }

    .active {
        font-family: Source Sans Pro;
        background: linear-gradient(180deg,#032541,#037057 ) ;
        color:white;
    }
}
