.search-filter {
    width: 20rem;
    border-radius: 1rem;
    border: 1px solid rgb(222,222,222);

    min-height: 10rem;
    max-height: 20rem;

    .search-filter-title {
        padding: 2rem 0;
        background-color: #01b4e4;
        border-radius: 1rem 1rem 0 0;

        text-align: center;
        color: #ffffff;
        font-size: 1.2rem;
    }

    .search-genres {
        margin: 1rem 0;
    }

    .genres-type {
        width: 100%;
        padding: 0 1rem;
        height: 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1.2rem;
        cursor: pointer;

        h3,p {
            margin:0;
            padding : 0;
        }

        p {
            padding: 0 1rem;
            
            border-radius: 1rem;
            background-color: rgb(221,221,221);
        }

        &:hover {
            background-color: rgb(221,221,221);

            p{
                padding: 0 1rem;
            
            border-radius: 1rem;
            background-color: white;
            }
        }
    }

    .genres-active {
        background-color: rgb(221, 221, 221);
        h3 {
            font-weight: bolder;
        }
        p {
            background-color: white;
        }
    }
}
